html, body, main, div, #viewer{
    height: 100%;
}
#viewer{
margin: 0 auto;
min-width: 350px;
width: 100%;
max-width: 600px;
}

@media screen and (min-width: 600px) and (max-width:900px){
    #viewer{
        min-width: 600px;
        width: 100%;
        max-width: 900px;
    }
}
@media screen and (min-width: 900px){
    #viewer{
        min-width: 900px;
        width: 80%;
        max-width: 1024;
    }
}