#viewer{
margin: 0 auto;
width: 70%;
position: absolute;
min-height: 640px;
height: 100%;
}

@media screen and (min-width: 600px){
    #viewer{
        width: 100%;
        min-height: 720px;
    }
}
@media screen and (min-width: 900px){
    #viewer{
        width: 100%;
        min-height: 850px;
    }
}