#viewer{
margin: 0 auto;
min-width: 350px;
width: 100%;
max-width: 600px;
position: absolute;
min-height: 640px;
height: 100%;
}

@media screen and (min-width: 600px) and (max-width:900px){
    #viewer{
        min-width: 600px;
        width: 100%;
        max-width: 900px;
        min-height: 720px;
    }
}
@media screen and (min-width: 900px){
    #viewer{
        min-width: 900px;
        width: 80%;
        max-width: 1024;
        min-height: 850px;
    }
}